<script src="{{ "/js/jquery.waypoints.min.js" | prepend: site.baseurl }}"></script>

<!-- jQuery -->
<script type='text/javascript' src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

<!-- Schema.Org -->
<script type="application/ld+json">
[
	{
	"@context": "http://schema.org",
	"@type": "Person",
	"name": "Felipe Barbosa",
	"jobTitle": "Digital Marketing Analyst",
	"url": "https://felipebarbosa.me",
	"sameAs": [
		"https://twitter.com/felipecb_",
		"https://www.linkedin.com/in/felipecardosobarbosa"
	]
	},
	{
	"@context": "http://schema.org",
	"@type": "WebSite",
	"name": "Felipe Barbosa - Negócios, Marketing & Produto",
	"url": "https://felipebarbosa.me"
	}, 
	{
	"@context": "http://schema.org",
	"@type": "Organization",
	"name": "Felipe Barbosa - Negócios, Marketing & Produto",
	"url": "https://felipebarbosa.me",
	"logo": "https://res.cloudinary.com/felipe-barbosa/image/upload/v1497551867/felipe-barbosa-business-marketing-product-growth.png"
	}
]
</script>

<!-- Header Form -->
<script>
function ml_webform_success_5388423() {
var $ = ml_jQuery || jQuery;

$('.ml-subscribe-form-5388423 .ml-block-success').show();
$('.ml-subscribe-form-5388423 .ml-block-form').hide();
};
</script>
</div>
</div>
<script type="text/javascript" src="//static.mailerlite.com/js/w/webforms.min.js?v3772b61f1ec61c541c401d4eadfdd02f"></script>

{% if site.theme_settings.footer_text %}
<footer class="site-footer">
	<p class="text">{{ site.theme_settings.footer_text }}</p>
</footer>
{% endif %}
