<script src="{{ "/js/jquery.waypoints.min.js" | prepend: site.baseurl }}"></script>

<!-- jQuery -->
<script type='text/javascript' src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

<!-- Schema.Org -->
<script type="application/ld+json">
[
	{
	"@context": "http://schema.org",
	"@type": "Person",
	"name": "Felipe Barbosa",
	"jobTitle": "Digital Marketing Analyst",
	"url": "https://felipebarbosa.me",
	"sameAs": [
		"https://twitter.com/felipecb_",
		"https://www.linkedin.com/in/felipecardosobarbosa"
	]
	},
	{
	"@context": "http://schema.org",
	"@type": "WebSite",
	"name": "Felipe Barbosa - Negócios, Marketing & Produto",
	"url": "https://felipebarbosa.me"
	}, 
	{
	"@context": "http://schema.org",
	"@type": "Organization",
	"name": "Felipe Barbosa - Negócios, Marketing & Produto",
	"url": "https://felipebarbosa.me",
	"logo": "https://res.cloudinary.com/felipe-barbosa/image/upload/v1497551867/felipe-barbosa-business-marketing-product-growth.png"
	}
]
</script>

{% if site.theme_settings.footer_text %}
<footer class="site-footer">
	<p class="text">{{ site.theme_settings.footer_text }}</p>
</footer>
{% endif %}
