---
layout: page
title: "Vagas de Marketing de Produto em empresas Brasileiras"
---

<section class="post-content">
    <blockquote>
        <p><a href="#vagas-product-marketing">Quero ir direto para as vagas</a></p>
    </blockquote>

    <p>Eu sou apaixonado pela área de <a href="/marketing-de-produto/" target="_blank">Marketing de Produtos</a> desde que entrei no mundo de empresas de tecnologia lá em 2013.</p>
    <p>Foi num ambiente onde eu era a única pessoa de <a href="/business/" target="_blank">negócios</a> em um time de desenvolvimento que precisar vestir o chapéu de <a href="/marketing/" target="_blank">Marketing</a> mas também o de <a href="/produto/" target="_blank">Produto</a>, Vendas, Suporte, Atendimento e Sucesso do Cliente.</p>
    <p>Nessa época que comecei a juntar todas as pontas e ver que a disciplina de <strong>Product Marketing</strong> era a que fazia mais sentido pra mim dentro do universo de Marketing. Apesar de ter esse foco desde então, somente de 2018 pra cá eu realmente me envolvi em uma comunidade que nascia para trocar conhecimento sobre Marketing de Produto.</p>
    <p>Estar nessa comunidade, conhecer outros profissionais e ver que havia um movimento de cada vez mais ter ofertas de vagas para Product Marketing que me estimulou a acompanhar essas ofertas.</p>
    <p>Esse meu envolvimento me levou não só a muitas conversas com profissionais de diferentes empresas que gostaria de implementar a competência de Marketing de Produto, mas também conversar com pessoas de outras áreas interessadas em fazer essa migração de carreira.</p>
    <p>Inspirado em iniciativas como a <a href="https://elixir-radar.com/" target="_blank">Elixir Radar</a> onde é possível encontrar vagas para trabalhar com a linguagem de programação Elixir, resolvi criar aqui uma lista de vagas para Product Marketing.</p>
    
    <h2 id="vagas-product-marketing">Vagas</h2>

    {% for job in paginator.site.data.job %}

    {% if site.data.job %}
    <ul>
    {% for job in site.data.job %}
            <li style="list-style: none;">
                <p style="margin: 0; font-size: 1.5em"><a href="{{ job.url }}" onclick="analytics.track('clicked-job-{{ job.track }}')" target="_blank">{{ job.title }}</a></p>
                <p style="margin: 0; font-size: 0.85em;">{{ job.location }}</p>
                <p style="margin: 0; font-size: 0.85em;">{{ job.date }}</p>
            </li>
        <hr>
        {% endfor %}
    </ul>
    {% endif %}

    {% endfor %}

    {% if paginator.total_pages > 1 %}
    <div class="pagination">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
        <i class="fa fa-chevron-left"></i>
        {{ site.theme_settings.str_prev }}
        </a>
        {% endif %}
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
        {{ site.theme_settings.str_next }}
        <i class="fa fa-chevron-right"></i>
        </a>
        {% endif %}
    </div>
    {% endif %}
</section>