---
layout: default
---
<article {% if page.feature-img %}class="feature-image"{% endif %}>
  <header style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h1 class="title">{{ page.title }}</h1>
    <p class="meta">
    {{ page.date | date: "%B %-d, %Y" }}
    {% if page.author %} - <a href="https://www.linkedin.com/in/felipecardosobarbosa/" target="_blank">{{ page.author }}</a>{% endif %}
    </p>
  </header>
  <section class="post-content">{{ content }}</section>

  <!-- Mailchimp Subscribe Post Form -->
  <div id="mc_embed_signup">
    <form action="//felipebarbosa.us11.list-manage.com/subscribe/post?u=d761afe0b6c97e9f4579c61bf&amp;id=4844c62c9d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form-post" class="validate" target="_blank" novalidate="">
        <div id="mc_embed_signup_scroll">
        <h3>Curtiu o post e quer receber mais conteúdos como esse?</h3>
        <div class="mc-field-group">
            <label for="mce-FNAME">Nome </label>
            <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
        </div>
        <div class="mc-field-group">
            <label for="mce-EMAIL">Email  <span class="asterisk">*</span>
        </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_d761afe0b6c97e9f4579c61bf_4844c62c9d" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
    </form>
  </div>

</article>

<!-- Post navigation -->
{% if site.theme_settings.post_navigation %}
<div id="post-nav">
    {% if page.previous.url %}
    <a id="prev-post" href="{{ site.baseurl }}{{ page.previous.url }}">
      <span class="page-title">{{ page.previous.title }}</span>
      <span class="nav-label">
        <i class="fa fa-chevron-left"></i> {{ site.theme_settings.str_prev }}
      </span>
    </a>
    {% endif %}
    {% if page.next.url %}
    <a id="next-post" href="{{ site.baseurl }}{{ page.next.url }}">
       <span class="page-title">{{ page.next.title }}</span>
       <span class="nav-label">
        {{ site.theme_settings.str_next }} <i class="fa fa-chevron-right"></i>
       </span>
     </a>
    {% endif %}
</div>
{% endif %}

<!-- Disqus -->
{% if site.theme_settings.disqus_shortname %}
<div class="comments">
  {% include disqus.html %}
</div>
{% endif %}
